.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .card a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
    padding: 1rem;
  }
  
  .card a:hover,
  .card a:active {
    transform: scale(1.1);
    background-color: #390281;
    color: white;
  }
  
  .card h4 {
    margin: 0.25rem 0;
  }
