<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Application Form</title>
</head>
<body>
    <form action="/application" , method="POST">
        {% csrf_token %}

        {% if has_error%}
            <p>This username is invalid!</p>
        {%endif%}
        
        <label for="username">Your Name</label>
        <input id="username" name="username" type="text">
        <button type="submit">Send</button>
    </form>
</body>
</html>