{% extends "base.html" %}
{% load static %}

{% block title %}
Application Done Before
{% endblock %}


{% block css_files%}
 <link rel="stylesheet" href=" {% static "credit/application.css" %}"/>
{% endblock %}

{% block content %}
<section id="done_before">
    <header>
        <h1>APPLICATION IS ALREADY TAKEN!</h1>
    </header>
    <p>An application with <b>{{customer.identification_number}}</b> identification number is already made to the <b>{{customer.bank}}</b> for <b>{{customer.credit}}</b>.</p>
    <p>Visit the bank before making another application.</p>
</section>
{% endblock %}