{% extends "base.html" %}
{% load static %}


{% block title %}
Credit Application Form
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "credit/application-form.css" %}">
{% endblock %}

{% block content %}
    <header>
        <h2>{{bank.name}}</h2>
        <h2>{{credit.name}}</h2>
    </header>

    <form method="POST">
        {% csrf_token %}
        {% for field in form%}
            <div class="form-control {% if field.errors %} errors {%endif%}">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
        {%endfor%}
        <button type="submit">Send</button>
    </form>
{%endblock%}