{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Application Form</title>
    <link rel="stylesheet" href="{% static "credit/application-form.css" %}"
</head>
<body>
    <form action="/application" , method="POST">
        {% csrf_token %}
        {% for field in form%}
            <div class="form-control {% if field.errors %} errors {%endif%}">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
        {%endfor%}
        <button type="submit">Send</button>
    </form>
</body>
</html>