{% extends "base.html" %}
{% load static %}

{% block title %}
{{credit.title}}
{% endblock %}

{% block css_files%}
 <link rel="stylesheet" href=" {% static "credit/credit-detail.css" %}"/>
{% endblock %}

{% block content%}
<section id="summary">
   <h2>{{credit.title}}</h2> 
   <article>
    <img src=" {% static "credit/images/"|add:credit.image%}" alt="{{credit.title}}"/>
    <address> By Elif </address>
    <div> Last Updated on <time> {{credit.date|date:"d M Y"}} </time>
    </div>
   </article>
</section>

<main> 
    {{credit.content|linebreaks}}
</main>
{% endblock %}