{% extends "base.html" %}
{% load static %}

{% block title %}
{{credit.name}}
{% endblock %}

{% block css_files%}
 <link rel="stylesheet" href=" {% static "credit/credit-detail.css" %}"/>
{% endblock %}

{% block content%}
<section id="summary">
   <h2>{{credit.name}}</h2> 
   <article>
    <img src=" {% static "credit/images/mortgage.jpg"%}" alt="{{credit.name}}"/>
    <address> By Elif </address>
    <div> Last Updated on
    </div>
   </article>
</section>

<main> 
    {{credit.content|linebreaks}}
    {{credit.interest_rate}}
    {{credit.loan_amount}}
</main>
{% endblock %}