{% extends "base.html" %}
{% load static %}

{% block title %}
Credit Page
{% endblock %}

{% block css_files%}
 <link rel="stylesheet" href=" {% static "credit/credit.css" %}"/>
 <link rel="stylesheet" href=" {% static "credit/index.css" %}"/>
{% endblock %}

{% block content%}

<section id="welcome">
    <header>
        <img src="{% static "credit/images/credit.png" %}" alt="Elif">
        <h2>CREDIT SELECTION PAGE</h2>
    </header>
    <p>In this web application you can view bank and credit options. You can enter your information and let the app tell you whether bank will give you the credit or not.</p>
</section>

<section id="banks">
    <h2>BANKS</h2>

    <div class="container text-center">
        <div class="row align-items-start">
            <ul>
                {% for bank in banks %}
                    {% include "credit/includes/bank.html" %}
                {% endfor %}
            </ul>
        </div>
      </div>
</section>

<section id= "about">
    <h2>I'm Elif!</h2>
    <p>I'm a senior Computer Engineering student at Çukurova University.</p>
    <p>I designed this web page as a part of my internship project.</p>
    <a href="mailto:elifintizam@gmail.com">If you have any question please email me!</a>
</section>
{% endblock %}