{% extends "base.html" %}
{% load static %}

{% block title %}
Credit Page
{% endblock %}

{% block css_files%}
 <link rel="stylesheet" href=" {% static "credit/credit.css" %}"/>
 <link rel="stylesheet" href=" {% static "credit/index.css" %}"/>
{% endblock %}

{% block content%}

<section id="welcome">
    <header>
        <img src="{% static "credit/images/birinci.png" %}" alt="Elif">
        <h2>CreditPage</h2>
    </header>
    <p>Credit type 1 - Credit type 1</p>
</section>

<section id="latest-credits">
    <h2>Latest Credits</h2>

    <ul>
        {% include "credit/includes/credit.html" %}
    </ul>
</section>

<section id= "about">
    <h2>What am i doing</h2>
    <p>I love programming!</p>
    <p>Iloveprogramming!Iloveprogramming!Iloveprogramming!Iloveprogramming!Iloveprogramming!</p>
</section>
{% endblock %}