{% extends "base.html" %}
{% load static %}

{% block title %}
Credit Page
{% endblock %}

{% block css_files%}
 <link rel="stylesheet" href=" {% static "credit/index.css" %}"/>
{% endblock %}

{% block content%}
<header id="main-navigation">
    <h1><a href="">Credit Type Page</a></h1>
    <nav>
        <a href="">All Credits</a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="" alt="Elif">
        <h2>CreditPage</h2>
    </header>
    <p>Credit type 1 - Credit type 1</p>
</section>

<section id="latest-credits">
    <h2>Latest Credits</h2>

    <ul>
        <li>
            <article class="credit">
                <a href="">
                    <img src="" alt="Idunno"/>
                    <div class="credit__content">
                        <h3>Idunno</h3>
                        <p>What is happening!</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id= "about">
    <h2>What am i doing</h2>
    <p>I love programming!</p>
    <p>Iloveprogramming!Iloveprogramming!Iloveprogramming!Iloveprogramming!Iloveprogramming!</p>
</section>
{% endblock %}